/* Margins & Paddings */
@for $i from 0 through 100 {
  @if ($i % 5==0) or $i==0 {
    .c-ma-#{$i} {
      margin: #{$i}px !important;
    }

    .c-mt-#{$i} {
      margin-top: #{$i}px !important;
    }

    .c-mr-#{$i} {
      margin-right: #{$i}px !important;
    }

    .c-mb-#{$i} {
      margin-bottom: #{$i}px !important;
    }

    .c-ml-#{$i} {
      margin-left: #{$i}px !important;
    }

    .c-my-#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }

    .c-mx-#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }

    .c-pa-#{$i} {
      padding: #{$i}px !important;
    }

    .c-py-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }

    .c-px-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }

    .c-pt-#{$i} {
      padding-top: #{$i}px !important;
    }

    .c-pr-#{$i} {
      padding-right: #{$i}px !important;
    }

    .c-pb-#{$i} {
      padding-bottom: #{$i}px !important;
    }

    .c-pl-#{$i} {
      padding-left: #{$i}px !important;
    }

  }
}

@for $i from 0 through 300 {
  .unloaded-text-#{$i} {
    background: linear-gradient(135deg, #EBEBEB 0%, #FAFAFA 100%);
    width: #{$i}px;
    height: 12px;
    border-radius: 48px;
  }

  .unloaded-avatar-#{$i} {
    width: #{$i}px;
    height: #{$i}px;
    position: absolute;
    background: linear-gradient(135deg, #E0E0E0 0%, #FAFAFA 100%);
    border-radius: 50%;
  }
}

@for $i from 0 through 100 {
    .w-#{$i} {
      width: percentage($i)/100;
  }
}














// ---------------------------- DEFAULT CLASSES --------------------------- //
.c-m-auto {
  margin: auto !important;
}

.rtl {
  direction: rtl !important;
}
