@import '_variables.scss';
@import 'frameworks.scss';


// ------------------- FONTS ------------------------ //


@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/IRANSansWeb_Bold.eot');
  src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eot/IRANSansWeb_Medium.eot');
  src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/eot/IRANSansWeb_Light.eot');
  src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
  src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/eot/IRANSansWeb.eot');
  src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}




p,
a,
body,
span,
h1,
h2,
h3,
h4,
h5,
h6,
b,
ul,
li,
td,
input,
label,
div {
  font-family: IRANSans !important;
}

// ------------------- END OF FONTS ------------------------ //






.c-container {
  padding: 20px;
}

.uploader-button {
  background-color: $secondaryColor;
  color: $lightestColor;
  border-radius: $defaultRadius;
  padding: 7px 10px;
  transition: all .6s ease;
  cursor: pointer;
  font-size: 13px;

  &:hover {
    background-color: $primaryColor;
    color: $secondaryColor;
  }

}

.v-input__slot {
  .v-label {
    text-align: right;
  }
}

.v-snack__wrapper {
  position: absolute !important;
  top: 20px !important;
  max-width: 90% !important;
  width: 100% !important;

  .v-snack__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px !important;

    .v-card__title {
      word-spacing: 0;
      font-size: 15px;
      padding: 0 !important;
    }
  }
}

.c-date-picker {
  border: 1px solid red;
}

.v-btn {
  letter-spacing: 0 !important;
}

.c-table {
  &.clickable-table {
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }

  tbody {
    tr {
      td {
        height: 60px !important;
      }
    }
  }
}

.thumbnaail-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-user-name {
  background-color: #ddd;
  color: $secondaryColor;
  padding: 4px;

}

.city {
  span {
    margin-left: 10px;
  }
}

.parent-row {
  width: 100%;
  display: flex;
}

.c-table-row {
  display: table;

  .child-col {
    display: table-cell;

    .v-card {
      height: 100%;
    }
  }
}

.small-header {
  height: 50px !important;

  .v-toolbar__content {
    height: 50px !important;
  }
}

.c-uploader {
  position: relative;
  height: 100%;
  padding-bottom: 20px;

  .c-uploader-input {
    opacity: 0;
    height: 100%;
    position: absolute;
    z-index: 10;
    cursor: pointer;
  }

  .c-uploader-button {
    border: 2px dashed #ddd;
    width: 100%;
    height: 70%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;

    i {
      font-size: 30px;
      color: #ccc;
    }
  }
}

.imagePreviewWrapper {
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  margin-left: auto;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 15px));
  z-index: 12;

  i {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
    color: #fff !important;
    font-size: 40px !important;

    &:hover {
      color: #B71C1C !important;
    }
  }
}

.v-snack__wrapper.v-sheet.theme--dark.yellow {
  color: #444;
}

.v-navigation-drawer__content .v-list-item .v-list-item__title,
.v-navigation-drawer__content .v-list-item .v-list-item__subtitle {
  font-size: 14px !important;
}

.v-navigation-drawer__content .v-icon {
  font-size: 18px !important;
}

.v-text-field input {
  padding: 3px 0 !important;
}

.v-select__selection--comma {
  font-size: 14px !important;
}

.v-input .v-label {
  font-size: 13px !important;
}

.v-text-field {
  padding-top: 5px !important;
}

.vpd-year-label {
  margin-top: 0 !important;
}

.vpd-date span {
  font-size: 16px !important;
}

.vpd-header,
.vpd-year-label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.v-btn__content {
  font-size: 13px !important;
}
